#display {
  background-color: rgb(220, 68, 5);
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  text-align: center;
  padding: 15em 1em; 
}
  #display h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 4.5em;
    margin: 0;
    color: #fff; }
  #display h2 {
    font-weight: 300;
    font-size: 2em;
    margin: 0 0 10px 0;
    color: #fff; }
  #display a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 20px;
    margin: 15px 10px 0 10px; }
    #display a:hover {
      background-color: #fff;
      color: rgb(220, 68, 5); }
      #lead {
        position: relative;
        height: 100vh;
        min-height: 500px;
        max-height: 1080px;
        background: url(../images/lead-bg.jpg);
        background-size: cover;
        padding: 15px;
        overflow: hidden
    }
    
 #lead-content {
        position: absolute;
        z-index: 10;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center
    }
    
    #lead-content h1, #lead-content h2 {
        margin: 0
    }
    
    #lead-content h1 {
        color: #fff;
        font-weight: 900;
        font-size: 5em;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        line-height: 0.9em
    }
    
    #lead-content h2 {
        color: #eec3a0;
        font-weight: 500;
        font-size: 2.25em;
        margin-bottom: 15px
    }
    
    #lead-overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(220, 70, 5, 0.6);
        z-index: 1
    }
    
    #lead-down {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        text-align: center;
        z-index: 10;
        bottom: 15px;
        color: #fff
    }
    
    #lead-down span {
        cursor: pointer;
        display: block;
        margin: 0 auto;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 3px solid #eebfa0;
        text-align: center
    }
    
    #lead-down i {
        animation: pulsate 1.5s ease;
        animation-iteration-count: infinite;
        padding-top: 5px
    }
    
    @keyframes pulsate {
        0% {
            transform: scale(1, 1)
        }
        50% {
            transform: scale(1.2, 1.2)
        }
        100% {
            transform: scale(1, 1)
        }
    }
    
#content {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  padding: 30px 15px;
  max-width: 750px;
  margin: 0 auto;
  color: #565B65; }
  #content h2 {
    color: #45474C;
    font-size: 2em;
    margin: 15px 0 0 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #E2DFDF; }
  #content h3 {
    font-size: 1.5em;
    margin: 10px 0;
    color: #45474C; }
  #content p {
    font-size: 0.9em;
    line-height: 1.5; }
  #content a {
    text-decoration: none;
    color: rgb(220, 68, 5); }
    #content a:hover {
      text-decoration: underline; }
  #content table {
    width: 100%;
    border: 1px solid #BFC4CE; }
    #content table th, #content table td {
      padding: 10px;
      border-right: 1px solid #BFC4CE; }
    #content table tr {
      border-bottom: 1px solid #BFC4CE; }
      #content table tr:nth-child(2) {
        background-color: #EFEFEF; }
  #content .button {
    display: inline-block;
    margin: 15px 0;
    color: #fff;
    background-color: rgb(220, 68, 5);
    padding: 10px 20px; }
    #content .button:hover {
      text-decoration: none;
      background-color: rgb(219, 99, 48); }

#footer {
  padding: 3em 0;
  background-color: #252832;
  text-align: center; }
  #footer a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    margin: 10px; }
    #footer a:hover {
      text-decoration: underline; }

@media only screen and (max-width: 480px) {
  #display {
    padding: 2em 0; }
    #display h1 {
      font-size: 3em; }
    #display h2 {
      font-size: 1.3em; } }
@media only screen and (min-width: 481px) and (max-width: 959px) {
  #display {
    padding: 6em 0; }
    #display h1 {
      font-size: 3.5em; }
    #display h2 {
      font-size: 1.5em; } }

/*# sourceMappingURL=styles.css.map */
